@import '../../utils/vars';

.Chat{
    .mensajes{
        width: 100%;
        height: 60%;
        overflow-x: hidden;
        @include scrollBar();
        margin: 10% 0;

        .mensaje{
            width: 90%;
            min-height: 20px;
            color: gray;
        }

        .mensaje2{
            width: 90%;
            min-height: 20px;
            color: gray;
            text-align: right;
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10%;
        
        .btnContainer{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
            .go{
                text-decoration: none;
                color: #000000;
                font-size: 40px;
                margin-bottom: 0;
            }
        }
    }

    .container2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10%;
        width: 100%;
        
        input{
            width: 55%;
            padding: 5px;
        }

        .btn{
            width: 30%;
            padding: 2px;
        }
    }
    
}